.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLogo {
  margin-right: 200px;
}

.footerLinks {
  display: flex;
  width: 45%;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 50px;
  font-size: 15px;
}

.footerColumn h1 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #6acfee;
}

.footerSocials img {
  margin: 5px;
}